* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px;
}

#main {
  max-width: 600px;
  margin: 0 auto;
}

#banner {
  position: center;
  max-width: 1000px;
  margin: 0;
}

.center {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.navigation {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 10px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

img {
  max-width: 800px;
  max-height: 400px;
  position: center;
}

h1 {
  size: 60pt;
  font-family: "Montserrat", sans-serif;
  color: gray;
  text-align: center;
  position: relative;
}

h2 {
  size: 50pt;
  font-family: "Montserrat", sans-serif;
  color: gray;
}

.title {
  font-size: 60pt;
}

a {
  font-family: "Montserrat", sans-serif;
  color: gray;
  text-align: center;
}

p {
  font-family: "Montserrat", sans-serif;
  color: teal;
}

li {
  size: 20pt;
  font-family: "Montserrat", sans-serif;
  color: gray;
}

footer {
  position: sticky;
  padding-top: 100px;
  padding-bottom: 30px;
  height: 100px;
  background-color: white;
  width: 100%;
  size: 20pt;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
